<div class="group-details-component">
  <ng-container *ngIf="loading">
    <div>
      Loading...
    </div>
  </ng-container>
  <ng-container *ngIf="!loading && group">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ group.name }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div class="group-details-owner">
            Owner: <app-display-name [userId]="group.owner"></app-display-name>
          </div>
          <div class="group-details-members">
            Members:
            <ul>
              <li *ngFor="let member of group.members">
                <app-display-name [userId]="member"></app-display-name>
              </li>
            </ul>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="vertical-spacer"></div>

    <mat-accordion *ngIf="events && events.length != 0">
      <mat-expansion-panel *ngFor="let event of events">
        <mat-expansion-panel-header>
          <strong>{{ event.recipe }}</strong
          >&nbsp;| {{ event.date | date: "fullDate" }}
        </mat-expansion-panel-header>
        <mat-panel-description>
          <div>
            <div><strong>Recipe: </strong> {{ event.recipe }}</div>
            <div>
              <strong>Host: </strong>
              <app-display-name [userId]="event.hostId"></app-display-name>
            </div>
            <div>
              <strong>Date: </strong> {{ event.date | date: "fullDate" }}
            </div>
            <div><strong>Time: </strong> {{ event.time }}</div>
            <br />

            <div class="group-details-attending-members">
              <app-attending-members
                [groupId]="groupId"
                [eventId]="event.id"
              ></app-attending-members>
            </div>
          </div>
        </mat-panel-description>
        <mat-action-row>
          <button mat-stroked-button color="warn" (click)="delete(event)"  *ngIf="event.hostId == userId">Delete</button>
          <button mat-stroked-button color="primary">View Details</button>
          <button mat-raised-button color="accent" (click)="attend(event)">Attend</button>
          <button mat-raised-button color="warn" (click)="cancelAttend(event)">Cannot Attend</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="vertical-spacer"></div>

    <div class="group-details-actions">
      <button mat-stroked-button color="accent" routerLink="events/create">
        Create Event
      </button>
      <button mat-stroked-button color="accent" (click)="createShareableLink()">
        Share
      </button>
      <button mat-stroked-button color="primary" routerLink="active-links">
        Active Links
      </button>
    </div>
  </ng-container>
</div>
