<div class="root mat-app-background dark-theme">
  <mat-toolbar color="primary">
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <span routerLink="/">Rawpotion</span>
    <span class="example-spacer"></span>
    <ng-template [ngIf]="loading" [ngIfElse]="isLoading">
    </ng-template>
    <ng-template #isLoading>
      <ng-template [ngIf]="loggedIn" [ngIfElse]="isNotLoggedIn" >
        <div class="app-buttons">
          <button
            routerLink="/groups"
            routerLinkActive="link-active"
            mat-icon-button
          >
            <mat-icon>groups</mat-icon>
          </button>
          <button
            routerLink="/profile"
            routerLinkActive="link-active"
            mat-icon-button
          >
            <mat-icon>account_circle</mat-icon>
          </button>

        </div>
       </ng-template>
      <ng-template #isNotLoggedIn>
        <button *ngIf="!loggedIn" mat-icon-button (click)="login()">
          <mat-icon>login</mat-icon>
        </button>
      </ng-template>
    </ng-template>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
